<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HeartsUp V2</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>firstTimeOpened</key>
	<true/>
	<key>firstEmergencyContact</key>
	<string>0</string>
	<key>secondEmergencyContact</key>
	<string>0</string>
	<key>thirdEmergencyContact</key>
	<string>0</string>
	<key>age</key>
	<integer>0</integer>
	<key>height</key>
	<integer>0</integer>
	<key>weight</key>
	<integer>0</integer>
	<key>restingHR</key>
	<integer>0</integer>
	<key>isMale</key>
	<true/>
	<key>sex</key>
	<string>0</string>
	<key>topHR</key>
	<string>0</string>
	<key>bottomHR</key>
	<string>0</string>
	<key>discSwitch1</key>
	<integer>0</integer>
	<key>breathSwitch2</key>
	<integer>0</integer>
	<key>lightSwitch3</key>
	<integer>0</integer>
	<key>numbSwitch4</key>
	<integer>0</integer>
	<key>emotionSwitch5</key>
	<integer>0</integer>
</dict>
</plist>
